.itemRoot{
  display: flex;
  height: 102px;
  img{
    width: 100px;
    height: 100px;
  }
}
.itemInfo{
  flex: 1;
  .name{
    font-size: larger;
  }
  .desc{
    color: lightgray;
  }
}
.itemStatus{
  color: dodgerblue;
  width: 100px;
  height: 100px;
  font-size: 30px;
  line-height: 100px;
}
