.itemRoot {
    display: flex;
    height: 200px;
    padding: 0 20px;
    img {
        height: 100%;
    }
    border-bottom: 1px solid #DADADA;
}

.itemInfo {
    flex: 1;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    .name {
        font-size: 15px;
    }
    .desc {
        color: lightgray;
    }
}

.itemStatus {
    color: dodgerblue;
    font-size: 30px;
    display: flex;
    align-items: center;
}
