body {
    background-color: #f8f8fa;
}
.itemRoot {
    border-bottom: solid lightgray 1px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20vw;
    padding: 4vw 4vw;
    .avatar {
        height: 20vw;
        width: 20vw;
        margin-right: 2vw;
    }
    .rightArrowContainer {
        height: 20vw;
        width: 10vw;
        div{
          line-height: 20vw;
          img{
            vertical-align: middle;
          }
        }
    }
    .itemInfo {
        display: flex;
        flex: 1;
        flex-direction:column;
        justify-content: space-between;
        font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
        .name {
            font-size: 5vw;
            font-weight: 200;
            color: #4a4a4b;
        }
        .desc {
            font-size: 3vw;
            color: lightgray;
        }
        .itemStatus {
            span {
                color: grey;
                margin-right: 2vw;
            }
            color: grey;
            font-size: 3.2vw;
        }
        .colorGreen {
            color: #00d97a;
        }
        .colorYellow {
            color: #fdba27;
        }
        .colorRed {
            color: #ff3b44;
        }
        .colorGrey {
            color: #999;
        }
    }


}
