body {
    background-color: #f8f8fa;
}
.itemRoot {
    border-bottom: solid lightgray 1px;
    background-color: #fff;
    display: flex;
    height: 20vw;
    padding: 4vw 4vw;
    img {
        height: 20vw;
        width: 20vw;
    }
    .itemInfo {
        flex: 1;
        font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
        .name {
            font-size: 5vw;
            font-weight: 200;
            color: #4a4a4b;
        }
        .desc {
            font-size: 3vw;
            color: lightgray;
        }
        .itemStatus {
            span {
                color: grey;
            }
            color: grey;
            font-size: 3vw;
            .colorGreen {
                color: #00d97a;
            }
            .colorYellow {
                color: #fdba27;
            }
            .colorRed {
                color: #ff3b44;
            }
        }
    }


}
