.divmain{
    height: 100%;
    background-color: #f8f8fa;
    .list{
        height: 100%;
        border: solid #f8f8fa 1px;
        border-radius: 15px;
        padding:2vw 4vw;
        list-style-type:none;
        li{
            //margin-bottom: 2vw;
        }
    }
}

.header{
    height: 10vh;
    background-color: #0fd874;
    color: #fff;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    right:0;
    left:0;
}
.holder{
    height: 10vh;
}
.footNoMore{
  height: 50px;
  background-color: #f8f8fa;
  color: #4a4a4b;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
  line-height: 50px; 
  font-size: 4vw;
}

.loading{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    background-image: url('../../assets/img/loading.gif');
    background-size: 80vw 70vw;
    background-position: 10vw 50vw;
    background-repeat: no-repeat;
}

.failPage{

}

.itemDetailPanel{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2001;
}

.smallLoading{
    position: fixed;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: 48vh;
    background-color: white;
    box-shadow: 0 0 50px #aaa;
    border-radius: 10px;
    background-image: url('../../assets/img/loading-small.gif');
    background-position: 25px 25px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 2000;
}