*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f8f8fa;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";

}
